
  <p><%= @movie.title %></p>
  <p><%= @movie.creation_year %></p>
  <p><%= @movie.genre %></p>
  <%= @movie.actors.order_by_age.each do |actor| %>
    <p><%= actor.name %></p>
  <% end %>

  <p><%= "Average Age of Actors: #{@movie.actors.average_age}" %></p>

  <p><%= form_with url: "/movies/#{@movie.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name%>
  <%= form.label :age %>
  <%= form.text_field :age %>
  <%= form.submit "Submit" %>
<% end %></p>
